input[type=submit] {
    background-color: #e76abe;
    color: white;
    padding: 5px 20px;
    margin: 1px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #bd589b;
  }
  body{
    margin:0 auto;text-align:center; width:960px;
  }

  

  